apiVersion: v1
kind: Pod
metadata:
  name: pvc-explorer
spec:
  containers:
    - name: pvc-explorer
      image: ubuntu:20.04
      stdin: true 
      tty: true 
      workingDir: /app/data/
      volumeMounts:
      - mountPath: "/app/data"
        name: data
      - mountPath: "/nfs"
        name: nfs
  volumes:
    - name: data
      persistentVolumeClaim:
        # local dev
        # claimName: job-manager-pvc
        
        # mmli1 staging/prod
        # claimName: mmli-clean-job-weights

        # mmli2
        claimName: mmli-shared-job-data
    - name: nfs
      nfs:
        path: /taiga/ncsa/radiant/bbfp/mmli2/
        server: taiga-nfs.ncsa.illinois.edu
